$sf-btom: 16px;
$sf-height: 420px;
$sf-pd: 15px;
$sf-border-radius: 15px;
$sf-font-size: 16px;
.sf-flex {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
}
.text-color {
  color: rgba(170, 170, 170, 1);
}
